version: '3.9'

services:
  postgres:
    image: postgres:15
    container_name: dev-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: clouddoctor
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - dev-network

  redis:
    image: redis:8
    container_name: dev-redis
    command: ["redis-server", "--requirepass", "redis1234"]
    environment:
      REDIS_PASSWORD: redis1234
    ports:
      - "6379:6379"
    networks:
      - dev-network

volumes:
  pgdata:

networks:
  dev-network: