spring:
  application:
    name: CloudDoctorWeb

  datasource:
    url: ${PGSQL_URL}
    username: ${PGSQL_USERNAME}
    password: ${PGSQL_PASSWORD}
    driver-class-name: org.postgresql.Driver

  data:
    redis:
      port: ${REDIS_PORT}
      host: ${REDIS_HOST}
      password: ${REDIS_PASSWORD}

  jackson:
    serialization:
      write-dates-as-timestamps: false
    deserialization:
      fail-on-unknown-properties: false
    time-zone: Asia/Seoul
    date-format: yyyy-MM-dd HH:mm:ss
    default-property-inclusion: non_null

server:
  port: 9090

jpa:
  hibernate:
    ddl-auto: validate
  show-sql: false
  properties:
    hibernate:
      format_sql: true

flyway:
  enabled: true
  locations: classpath:db/migration

jwt:
  access-token-expiration: ${ACCESS_TOKEN_EXPIRATION}     # 60000 = 1분 (밀리초)
  refresh-token-expiration: ${REFRESH_TOKEN_EXPIRATION}   # 120000 = 2분 (밀리초)

cookie:
  secure: ${COOKIE_SECURE}  # 환경별 설정