spring:
  application:
    name: CloudDoctorAdmin

  datasource:
    url: ${PGSQL_URL}
    username: ${PGSQL_USERNAME}
    password: ${PGSQL_PASSWORD}
    driver-class-name: org.postgresql.Driver

  data:
    redis:
      port: ${REDIS_PORT}
      host: ${REDIS_HOST}
      password: ${REDIS_PASSWORD}

  flyway:
    enabled: true
    locations: classpath:db/migration

server:
  port: 9091

security:
  jwt:
    access-token: "dev-access-token-1234"
    refresh-token: "dev-refresh-token-5678"

springdoc:
  swagger-ui:
    enabled: true  # Swagger UI 활성화 여부 (기본값: true)
    path: /swagger-ui.html  # Swagger UI 접속 경로 변경 (기본값: /swagger-ui.html)
    operationsSorter: method  # API 정렬 기준 (alpha: 알파벳순, method: HTTP 메서드 순)
    tagsSorter: alpha  # 태그 정렬 방식 (alpha: 알파벳순 정렬)
    display-request-duration: true  # 요청 실행 시간 표시 여부
    doc-expansion: none  # Swagger UI에서 API 설명의 기본 펼침 상태 (none: 닫힘, list: 펼침, full: 전체 펼침)
    persistAuthorization: true  # 페이지 새로고침 후에도 Authorization 헤더 유지 여부
    defaultModelsExpandDepth: -1  # 모델 스키마의 기본 펼침 깊이 (-1이면 모델 펼쳐지지 않음)
  api-docs:
    path: /v3/api-docs       # OpenAPI JSON 경로